<template>
	<v-app id="inspire">
		<v-navigation-drawer
		  clipped
		  fixed
		  v-model="drawer"
		  app
		  :mini-variant-width="50"
		  :width="250"
		  :mobile-break-point="767"
		  class="bg-drawer"
		>
			<v-list class="pa-0" dense>
				<v-list-tile to="/">
					<v-tooltip right>
						<v-list-tile-action slot="activator">
							<v-icon>home</v-icon>
						</v-list-tile-action>
						Inicio
					</v-tooltip>
					<v-list-tile-content>
						<v-list-tile-title>Inicio</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-list-tile to="/dashboard">
					<v-tooltip right>
						<v-list-tile-action slot="activator">
							<v-icon>dashboard</v-icon>
						</v-list-tile-action>
						Dashboard
					</v-tooltip>
					<v-list-tile-content>
						<v-list-tile-title>Dashboard</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>
		<!-- <v-toolbar :height="55" prominent card dark color="info" app fixed clipped-left> -->
		<v-toolbar :height="55" prominent dark color="info" app fixed clipped-left>
			<v-toolbar-title>
				Neutron Cat App
			</v-toolbar-title>
			<v-spacer></v-spacer>

			<v-toolbar-items>
				<v-menu offset-y v-if="auth">
					<v-btn flat slot="activator" class="mr-5">
						<v-icon>person</v-icon> {{ auth.user.name }} <v-icon>arrow_drop_down</v-icon>
					</v-btn>
					<v-list dense>
						<v-list-tile @click="logout">
							<v-list-tile-action>
								<v-icon>lock</v-icon>
							</v-list-tile-action>

							<v-list-tile-content>
								<v-list-tile-title> Cerrar session</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-menu>
			</v-toolbar-items>
		</v-toolbar>
		<v-content>
			<v-container fluid fill-height>
				<nuxt/>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
import axios from 'axios'

export default {
	'name': 'dashboard',
	head: {
		title: 'Dashboard - Neutron Cat App',
		meta: [
			{ charset: 'utf-8' },
			{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
		],
	},
	data: () => ({
		drawer: true,
		menu: []
	}),
	computed: {
		auth(){
			if(this.$store.state.session.auth)
				return this.$store.state.session.auth
			else
				return false
		}
	},
	middleware: 'auth',
	methods: {
		logout(){
			axios.get('/app/logout')
			.then((res) => {
				this.$store.commit('session/close')
				this.$router.push('/')
			}).catch((error) => {
				console.log(error)
			})
		}
	}
}
</script>