<template>
	<v-app id="inspire">
		<!-- <v-toolbar :height="55" prominent card dark color="info" app fixed clipped-left> -->
		<v-toolbar :height="55" prominent dark color="info" app fixed clipped-left>
			<v-toolbar-title>
				Neutron Cat App
			</v-toolbar-title>
			<!-- <v-toolbar-items>
				<v-btn flat to="/">Application</v-btn>
			</v-toolbar-items> -->
			<v-spacer></v-spacer>

			<v-toolbar-items>
				<v-btn flat to="/">Inicio</v-btn>
				<v-btn flat to="/login" v-if="!auth">Login</v-btn>
				<!-- <v-btn flat to="/register" v-if="!auth">Registrar</v-btn> -->
				<v-btn flat to="/dashboard" v-if="auth">Dashboard</v-btn>
			</v-toolbar-items>
		</v-toolbar>
		<v-content>
			<v-container fluid fill-height>
				<nuxt/>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
export default {
	'name': 'app',
	head: {
		title: 'Neutron Cat App',
		meta: [
			{ charset: 'utf-8' },
			{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
		],
	},
	computed: {
		auth(){
			return this.$store.state.session.auth
		}
	}
}
</script>