<template>
	<v-layout align-center justify-center>
		<v-flex xs12 sm8 md6>
			<v-form>
				<v-text-field name="buscar" label="Buscar" required append-icon="search" outline single-line ></v-text-field>
			</v-form>
		</v-flex>
	</v-layout>
</template>

<script>
export default {
	'name': 'index',
	middleware: 'authLanding'
};
</script> 