<template>
	<v-layout align-center justify-center>
		<v-flex xs12 sm8 md4>
			<v-card class="elevation-12">
				<v-form @submit.prevent="login" ref="loginForm">
					<v-toolbar dark flat color="info">
						<v-toolbar-title>Login</v-toolbar-title>
						<v-spacer></v-spacer>
						<v-icon>security</v-icon>
					</v-toolbar>
					<v-card-text>
						<v-text-field type="text" name="email" label="Email" :error-messages="mjsError.email" prepend-icon="email" required></v-text-field>
						<v-text-field type="password" name="password" label="Contraseña" id="password" :error-messages="mjsError.password" prepend-icon="lock" required></v-text-field>
						<v-checkbox name="remember" v-model="checkbox" label="¿Mantener sesión?" ></v-checkbox>
						¿Olvidaste tu contraseña? <nuxt-link to="/password/reset">Has click aquí</nuxt-link>
						<br>
						<nuxt-link to="/register">Crear una cuenta</nuxt-link>
						<div v-if="auth">
							hola
						</div>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn type="submit" :loading="loading" color="info">Login</v-btn>
					</v-card-actions>
				</v-form>
			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
import axios from 'axios'

export default {
	'name': 'Login',
	data: () => ({
		checkbox: false,
		loading: false,
		mjsError: {
			email: '',
			password: ''
		}
	}),
	computed: {
		auth(){
			return this.$store.state.session.auth
		}
	},
	methods: {
		login(){
			this.mjsError = { email: '', password: '' }
			var formData = new FormData(this.$refs.loginForm.$el)
			this.loading = true
			axios.post('/app/login', formData)
			.then((res) => {
				this.mjsError = { email: '', password: '' }
				this.loading = false
				this.$store.commit('session/init', res.data)
				this.$router.push(this.$store.state.session.pathUrl)
			}).catch((error) => {
				this.mjsError = error.response.data.errors
				this.loading = false
			})
		}
	}
};
</script> 