<template>
	<v-layout align-center justify-center>
		<v-flex xs12 sm8 md4>
			<v-card class="elevation-12">
				<v-form @submit.prevent="register" ref="registerForm">
					<v-toolbar dark flat color="info">
						<v-toolbar-title>Register</v-toolbar-title>
						<v-spacer></v-spacer>
						<v-icon>person_add</v-icon>
					</v-toolbar>
					<v-card-text>
						<v-text-field type="text" name="name" label="Nombre" :error-messages="mjsError.name" prepend-icon="person" required></v-text-field>
						<v-text-field type="email" name="email" label="Email" :error-messages="mjsError.email" prepend-icon="email" required></v-text-field>
						<v-text-field type="password" name="password" label="Contraseña" id="password" :error-messages="mjsError.password" prepend-icon="lock" required></v-text-field>
						<v-text-field type="password" name="password_confirmation" label="Confirmar Contraseña" id="password-confirmation" prepend-icon="security" required></v-text-field>
						¿Ya estás registrado? <nuxt-link to="/login">Inicia sesión</nuxt-link>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn type="submit" :loading="loading" color="info">Register</v-btn>
					</v-card-actions>
				</v-form>
			</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
import axios from 'axios'

export default {
	'name': 'Register',
	data: () => ({
		checkbox: false,
		loading: false,
		mjsError: {
			name: '',
			email: '',
			password: ''
		}
	}),
	methods: {
		register(){
			this.mjsError = { name: '', email: '', password: '' }
			var formData = new FormData(this.$refs.registerForm.$el)
			this.loading = true
			axios.post('/app/register', formData)
			.then((res) => {
				this.mjsError = { name: '', email: '', password: '' }
				this.loading = false
				this.$store.commit('session/init', res.data)
				this.$router.push(this.$store.state.session.pathUrl)
			}).catch((error) => {
				this.mjsError = error.response.data.errors
				this.loading = false
			})
		}
	}
};
</script> 